body {
  font-family: "Helvetica Neue", sans serif;
  background-color: #eee; }

section {
  padding: 10em 3em;
  background-color: #ddd;
  color: #111; }

footer {
  padding-top: 1em;
  padding-left: 1em;
  color: #222; }
  footer a {
    color: #333;
    text-decoration: none; }
